

<h1><%= t("editing_banner") %></h1>
<%= render "shared/error_messages", :target => @banner %>

<%= semantic_form_for([:admin, @banner]) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons">
    <%= button t("actions.update"), nil, "submit"%>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_banners_path %>
  </p>
<% end %>
