<h1><%= t("banner") %></h1>
<%=@banner.target_url%>
<br/>
<%=image_tag( @banner.image.url(:original)) %> <br />
<%=@banner.tagline%> <br />

<p>
  <%= link_to_edit @banner %> &nbsp;
  <%= link_to t('back'), collection_url %>
</p>
